<div class="flex w-1/2 p-3 bg-white rounded shadow-xl box-shadow">
  <img
    src="https://source.unsplash.com/random/100x100"
    class="mr-4 rounded-full"
  />
  <div>
    <h1 class="text-lg font-bold">Lorem Ipsum</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro neque
      consequatur cumque nihil iusto minima accusamus eligendi.
    </p>
    <div class="flex justify-end">
      <img
        src="https://source.unsplash.com/random/20x20"
        class="border rounded-full"
      />
      <img
        src="https://source.unsplash.com/random/20x20"
        class="-ml-2 border rounded-full"
      />
      <img
        src="https://source.unsplash.com/random/20x20"
        class="-ml-2 border rounded-full"
      />
      <img
        src="https://source.unsplash.com/random/20x20"
        class="mr-2 -ml-2 border rounded-full"
      />
      y 4 personas más.
    </div>
  </div>
</div>
<div>
  <input
  type="text"
  class="w-full px-3 py-2 border rounded-md"
  value="Input text"
/>
</div>